<li>
  <h5><%= link_to arrangement, arrangement %></h5>
  reported by <%= arrangement.profile.institution.name %>
  $<%= arrangement.total_amount %>M for <%= arrangement.period_from %>-<%= arrangement.period_to %>
</li>
