<div class="row static">
  <div class="span8">
    <h2>User Guide</h2>

    <h3>What kind of information can I find in the database?</h3>

    <p>The Voluntary REDD+ Database (VRD) provides information on financing for REDD+ related actions, as reported by countries and institutions to the REDD+ Partnership (see <%= link_to "Glossary", glossary_path %> for explanation of these and other terms).</p>
    <p>The core information in the VRD focuses on REDD+ arrangements. An arrangement is an agreement to undertake REDD+ related actions, involving a funder and a recipient. These are undertaken within a certain timeframe and have an indicative budget. Countries and institutions can play both funder and recipient roles in different arrangements. Arrangements encompass all possible modalities of REDD+ funding (such as bilateral, multilateral or domestic funds, and funding to Non-Governmental Organisations [NGOs]) and may target any of the three phases of the REDD+ process.</p>
    <p>Most of the arrangements in the database have so far been reported by funders (due to lower reporting capacity, many recipient countries have yet to submit corresponding information). For further information about the process of collecting the data, please see the <%= link_to "Frequently Asked Questions", faq_path %>.</p>

    <h3>How is the website organized?</h3>

    <p>The <%= link_to "Overview", root_path %> page presents a summary of all REDD+ financing data reported to the database, including maps, graphs and statistics on REDD+ financing, and a master arrangements list. By clicking on the 'view information reported by...' menu bar in the upper right hand side of the screen, you can choose to view data as reported by funders, or by recipients.</p>
    <p>The <strong>Countries</strong> and <strong>Institutions</strong> drop down links at the top right hand corner of the website lead to summaries of country- or institution-specific data. The country and institution data may be viewed through: maps, which show the national sources and targets of funding; graphs, which show the development of funding over years; and lists of arrangements, which offer information on the exact amounts and purposes of each arrangement. Similar to the overview page, it is possible to view data reported by the country/institution, and data reported by others, through the 'view information reported by...' menu bar in the upper right hand side of the screen.</p>

    <h3>How do I find information on total financing reported for REDD+?</h3>

    <p>The <%= link_to "Graphs & Stats", "/#graphs_and_stats" %> tab in the <strong>Overview</strong> page contains graphs which show total financing reported for REDD+ by funder and recipient type, the distribution of financing to REDD+ countries over time, the regional distribution of financing to REDD+ countries, and the types of actions being undertaken in REDD+ arrangements.</p>
    <p>It is possible to view this information as reported by funders, and as reported by recipients, by clicking 'funders' or 'recipients' from the 'view information reported by...' menu bar in the upper right hand side of the screen. Please note that a major reason for the difference in total estimates of funding between funders and recipients of REDD+ relates to reporting capacity; most of the arrangements in the database have been reported by funders.</p>

    <h3>Can I explore all the arrangements listed in the Database?</h3>

    <p>From the <%= link_to "Overview", root_path %>  page, select the 'Arrangements list' tab. The default view is a list of all arrangements that have been reported by funders. It is possible to filter arrangements by time-span, funder, recipient and/or total amounts reported under an arrangement. To quickly view information relating to a particular country or institution, select the country/institution from the funder or recipient dropdown (a country/institution may act as a funder in some arrangements, and a recipient in others). Click on an individual arrangement row to be directed to a new page showing details for that arrangement.</p>
    <p>To see a similar list of all arrangements that have been reported by recipients, click 'recipients' from the 'view information reported by...' menu bar in the upper right hand side of the screen.</p>

    <h3>How do I see how much REDD+ financing has been committed to/from a country or institution?</h3>
    
    <p>(i) For a rapid introduction, from the <%= link_to "Overview", root_path %> page, hover over any circle for a country on the map to see a pop-up of reported REDD+ financing. It is possible to alternate between viewing a map of financing reported by funders and a map of financing reported by recipients. To move between these views, select the preferred view on the 'view information reported by' menu bar in the upper right hand side of the screen. To be directed to a new page showing more detailed REDD+ financing information for that country, click on the country name in the pop up.</p>
    <p>(ii) Click on the 'Countries' or 'Institutions' dropdowns in the top right-hand corner of the website and type (part of) the country or institution name into the search box, or browse through the list using the scrollbar. Click on the country or institution to be directed to a new page showing more detailed REDD+ financing information reported by that country/institution. To view REDD+ financing reported by others involving that country/institution, select 'others' from the 'view information reported by' menu bar in the upper right hand side of the screen.</p>

    <h3>How can I access an overview of the data reported by a country or institution? Can I compare arrangements reported by a country or institution with those reported by others for that country or institution?</h3>

    <p>Click on the 'Countries' or 'Institutions' dropdowns in the top right-hand corner of the website and type (part of) the country or institution name into the search box, or browse through the list using the scrollbar. Click on the country or institution to be directed to a new page showing more detailed REDD+ financing information reported by that country/institution.</p>
    <p>Different summaries of the data are offered via the orange menu bar; a map that shows the sources and targets of funding; graphs that shows the development of different types of funding; and the list of arrangements that gives access to information on exact amounts and purposes of each arrangement. The map, graphs and summary statistics include REDD+ arrangements in which the country or institution is a funder or recipient. The arrangements list shows all arrangements reported by the country/institution in question. To view the same summaries of data reported by others involving that country/institution, select 'others' from the 'view information reported by' menu bar in the upper right hand side of the screen.</p>

    <h3>Where can I see flows of funding between countries and institutions in the Database?</h3>

    <p>Select the country or institution of interest from the 'Countries' or 'Institutions' dropdowns in the top right hand corner of the website. Once on the country/institution page, select the 'Graphs and Stats' tab from the orange menu bar in the centre of the page. There is a diagram showing the flows of direct and indirect financial contributions to/from the selected country/institution, as reported by the country/institution and others. 

    <h3>Is it possible to get information on annual contributions and disbursements for arrangements reported a country or institution?</h3>

    <p>Individual arrangement pages contain information on annual contributions, and disbursements (where available). To access arrangement pages for arrangements that have been reported by a particular country or institution, select the country or institution of interest from the 'Countries' or 'Institutions' dropdowns in the top right hand corner of the website. Once on the country/institution page, select the 'Arrangements list' tab from the orange menu bar in the centre of the screen. This will bring up a list of all arrangements reported by that country or institution. Clicking on an individual arrangement takes you to a separate page, which includes a table of annual contributions, and annual disbursements (where available). For some arrangements, the distribution of contributions between years has been estimated. This is indicated by a ~ symbol, and explained by a note beneath the contributions table.</p>
    <p>You may also select from a list of arrangements reported by others, involving the country or institution of interest. Click 'others' in the 'view information reported by' menu bar in the upper right hand side of the screen. This will bring up a list of all arrangements reported by others involving the country/institution of interest. Click on individual arrangements to be directed to a separate page with a table of annual contributions, and disbursements (where available).</p>

    <h3>Can I export data from the Database for my personal use?</h3>

    <p>Yes - the data reported to the Voluntary REDD+ Database by countries and institutions are freely available for download in csv format. To download the csv sheet containing all arrangement records reported to the Database please click the “Download Data” link on the right-hand side of this page.</p>

    <h3>Who is maintaining the database?</h3>

    <p><%= link_to "FAO", "http://www.fao.org/" %> and <%= link_to "UNEP-WCMC", "http://www.unep-wcmc.org/" %> on behalf of the <%= link_to "REDD+ Partnership", "http://reddpluspartnership.org/" %>. The data are submitted and owned by the countries and other stakeholders, who make voluntary reports to the Partnership on their REDD+ activities.</p>
  </div>
  <div class="span4">
    <%= render 'menu' %>
  </div>
</div>
