<div class="row static">
  <div class="span8">
    <h2>Resources and Publications</h2>

    <h3>Progress reports</h3>

    <ul>
      <li><%= link_to "REDD+ Partnership Voluntary REDD+ Database Progress Report November 2012", "/process_reports/VRD_Progress_Report_Dec_2012_FINAL.pdf" %></li>
      <li><%= link_to "REDD+ Partnership Voluntary REDD+ Database Progress Report November 2011", "/process_reports/VRD_Progress_Report_Durban_updated_011211.pdf" %></li>
      <li><%= link_to "REDD+ Partnership Voluntary REDD+ Database Progress Report 27 September 2011", "/process_reports/VRD_Progress_Report_27_Sep_2011.pdf" %></li>
      <li><%= link_to "REDD+ Partnership Voluntary REDD+ Database Updated Progress Report 11 June 2011", "/process_reports/VRD_Updated_Progress_Report_Bonn_11-06-2011.pdf" %></li>
      <li><%= link_to "REDD+ Partnership Voluntary REDD+ Database Progress Report 9 April 2011", "/process_reports/VRD_Progress_Report_2011-04-09.pdf" %></li>
    </ul>

    <h3>Other resources</h3>

    <ul>
      <li><%= link_to "Voluntary REDD+ Database Analytic Report 2012", "/process_reports/VRD_Analytic_Report_2012_Nov_27_FINAL.pdf" %></li>
    </ul>
  </div>
  <div class="span4">
    <%= render 'menu' %>
  </div>
</div>
